.feynman {
  background-color: #f2f2f2;
  padding-top: 100px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../../images/feinman.png);
  background-position:left bottom;
  background-size: 867px 637px;
  background-repeat: no-repeat;
  min-height: 890px;
  box-sizing: border-box;
  position: relative;
}
