.khan__buy-link {
  font: 30px/42px 'Inter', 'Arial', sans-serif;
  text-decoration: none;
  color: #2f80ed;
  transition: opacity 0.3s;
  margin-left: 48px;
  align-self: baseline;
}

.khan__buy-link:hover {
  opacity: 0.5;
}
